.projectListContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

button {
  background-color: #302F3D;
  color: #837E9F;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    background: #3A394A;
    transition: 0.2s;
  }
}